POSTGRES_USER=<userrname>
POSTGRES_PASSWORD=<passwort>
POSTGRES_DB=<db-name>
TEST_DATA_USER_PASSWORD=<password>

AUTH_IS_ACTIVE=true
GRPC_COMMUNICATION=false

JWT_ACCESS_TOKEN_EXPIRATION=15m
JWT_REFRESH_TOKEN_EXPIRATION=168h

# The following is used for docker-compose-loadbalance.yaml
CONFIG_FILE="
mappings:
  - path: /api/v1/login
    hosts:
      - http://user:8080
  - path: /api/v1/register
    hosts:
      - http://user:8080
  - path: /api/v1/refresh-token
    hosts:
      - http://user:8080
  - path: /api/v1/logout
    hosts:
      - http://user:8080
  - path: /api/v1/users*
    hosts:
      - http://user:8080
  - path: /api/v1/books*
    hosts:
      - http://book:8080
  - path: /api/v1/chapters*
    hosts:
      - http://book:8080
  - path: /api/v1/transactions*
    hosts:
      - http://transaction:8080
  - path: /api/v1/reset
    hosts:
      - http://test-data:8080
  - path: /*
    hosts:
      - http://web:8080
"

JWT_ACCESS_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
<rsa-private-key-pem-format>
-----END PRIVATE KEY-----
"

JWT_ACCESS_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
<rsa-public-key-pem-format>
-----END PUBLIC KEY-----
"

JWT_REFRESH_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
<rsa-private-key-pem-format>
-----END PRIVATE KEY-----
"

JWT_REFRESH_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
<rsa-public-key-pem-format>
-----END PUBLIC KEY-----
"


TEST_DATA_FILE="
create table if not exists users
(
    id				serial primary key, 
	email			varchar(100) not null unique,
	password 		bytea not null,
	profile_name 	varchar(100) not null,
	balance 		int not null default 0,
	token_version 	bigint not null default 0
);

create table if not exists books
(
    id			serial primary key,
	name    	varchar(100) not null,
	authorId	int not null,
	description text not null,
   	foreign key (authorId) REFERENCES users(id)
);

create table if not exists chapters
(
    id			int not null,
    bookId		int not null,
	name    	varchar(100) not null,
	price		int not null,
	content 	text not null,
	status		int not null default 0,
   	foreign key (bookId) REFERENCES books(id),
	primary key (id, bookId)
);

create table if not exists transactions
(
	id					serial primary key,
	bookid				int not null,
	chapterid    		int not null,
	receivinguserid		int not null,
	payinguserid 		int not null,
	amount 				int not null,
	foreign key (chapterid, bookid) references chapters(id, bookId),
	foreign key (bookid) references books (id),
	foreign key (payinguserid) references users(id),
	foreign key (receivinguserid) references users(id)
);

insert into users (email, password, profile_name, balance)
values ('test@test.com', $1, 'Toni Tester', 1000),
       ('test', $1, 'Test User', 1000);

insert into books (name, authorId, description)
values ('Book One', 1, 'A good book'),
       ('Book Two', 2, 'A bad book'),
       ('Book Three', 1, 'A mid book');

insert into chapters (id, bookId, name, price, content, status)
values (1, 1, 'The beginning', 0, 'Lorem Ipsum', 1),
       (2, 1,'The beginning 2: Electric Boogaloo', 100, 'Lorem Ipsum 2', 1),
       (3, 1, 'The beginning 3: My Enemy', 100, 'Lorem Ipsum 3', 1),
       (1, 2, 'A different book chapter 1', 0, 'Lorem Ipsum 4', 1),
       (2, 2, 'What came after', 100, 'Lorem Ipsum 5', 1),
	   (3, 2, 'What came after that', 500, 'Lorem Ipsum 6', 1),
	   (4, 2, 'And there after ', 400, 'Lorem Ipsum 7', 1),
	   (1, 3, 'The third book chapter 1', 750, 'Lorem Ipsum 8', 1),
	   (2, 3, 'The third book chapter 2', 800, 'Lorem Ipsum 9', 1),
	   (3, 3, 'The third book chapter 3', 900, 'Lorem Ipsum 10', 1);

insert into transactions (bookid, chapterid, receivinguserid, payinguserid, amount)
values (1, 1, 1, 2, 0),
       (1, 2, 1, 2, 100),
       (2, 1, 2, 1, 0),
	   (2, 4, 2, 1, 400),
	   (3, 1, 1, 2, 750),
	   (3, 2, 1, 2, 800);
"